:root {
  --scarlet: #7f0000;
  --grayer: #7f7f7f;
  --white: #fff;
  --white-t: #fff6;
  --black: #000;
  --post-it-yellow: #fed;
  --dark-yellow: #887b66;

  --blur-radius: 10px;

  --main-font: 'Rockwell', 'Noto Mono NF', 'Noto Sans Mono', monospace;
  --title-font: 'Cherry Swash', 'Noto Mono NF', 'Noto Sans Mono', monospace;
}

* {
  font-family: var(--main-font);
  transition: 0.2s ease;
  interpolate-size: allow-keywords;
}

body {
  background-color: var(--scarlet);
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  background-color: var(--white);

  width: calc(100vw - 80px);
  max-width: 1000px;

  margin: 0;
  padding: 10px 40px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  position: fixed;
  margin: 0;
  width: calc(100vw - 80px);
  max-width: 1000px;
}

nav .left,
nav .center,
nav .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-weight: 600;

  backdrop-filter: blur(var(--blur-radius));
  background: var(--white-t);

  padding: 5px 15px;
  gap: 10px;
}

.navico {
  width: 20px;
  height: 20px;
}

footer {
  background-color: var(--white);

  margin: -10px -40px;
  margin-top: 60px;
  padding: 20px 0;

  text-align: center;
  border-top: solid var(--black) 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--scarlet);
  font-family: var(--title-font);

  margin: 50px 0 5px 0;
  border-bottom: solid var(--scarlet) 5px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

p {
  color: var(--black);
  font-size: 16px;
  margin: 0 0 10px 0;
}

button {
  font-size: 16px;
  text-align: center;

  background: var(--white);
  color: var(--black);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20px;

  border: none;
  margin: 8px;
  box-shadow:
    5px 5px 0 var(--black),
    -5px -5px 0 var(--scarlet);
}

button:hover {
  box-shadow:
    8px 8px 0 var(--scarlet),
    -8px -8px 0 var(--black);
}

button.highlight {
  background: var(--white);
  color: var(--black);
  box-shadow:
    5px 5px 0 var(--black),
    -5px -5px 0 var(--black);
}

button.highlight:hover {
  background: var(--white);
  color: var(--black);
  box-shadow:
    8px 8px 0 var(--scarlet),
    -8px -8px 0 var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

a.link {
  color: var(--scarlet);
  font-style: italic;
  margin: 0 7px;
  padding: 0 2px;
}

a.link:hover {
  box-shadow:
    5px 0 0 var(--scarlet),
    -5px 0 0 var(--black);
}

.page_title {
  background-color: var(--white);

  margin: -10px -40px;
  padding: 30px;

  min-height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom: solid var(--black) 5px;

  margin-bottom: 20px;
}

.page_title h1,
.page_title h2 {
  margin: 0;
  padding: 20px;
  border: 0;
}

.page_title h1 {
  font-size: 40px;
}

.page_title h2 {
  font-size: 20px;
}

.button_row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  gap: 10px;
}

.infobox {
  background-color: var(--post-it-yellow);
  padding: 0 20px;
  margin: 20px 0;

  border: dotted var(--dark-yellow) 3px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  outline: solid var(--post-it-yellow) 0;
}

.infobox h4 {
  margin: 10px 0;
  color: var(--black);
  border-bottom: dotted var(--black) 3px;
}

.infobox.link:hover {
  border: dotted var(--scarlet) 3px;
  outline: solid var(--post-it-yellow) 6px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.max-500 {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

form div.input, form div.horinput {
  display: flex;
  margin: 10px 0;
}

form div.input {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  gap: 0;
}

form div.horinput {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form button {
  margin: 20px 0;
}

form label {
  color: var(--black);
  font-size: 16px;
  margin: 0 0 10px 0;
  text-align: center;
}

form input, form select {
  font-size: 16px;
  text-align: center;

  background: var(--white);
  color: var(--black);

  height: 25px;
  border: 2px var(--black) solid;
  margin: 5px;
}

form input {
  box-shadow:
    3px 3px 0 var(--black),
    -3px -3px 0 var(--grayer);
}

form select {
  box-shadow:
    3px 3px 0 var(--scarlet),
    -3px -3px 0 var(--grayer);
}

form input:hover, form select:hover {
  font-size: 20px;
  border: 2px var(--white) solid;
  box-shadow:
    6px 6px 0 var(--grayer),
    -6px -6px 0 var(--scarlet);
}

form input[type=checkbox] {
  appearance: none;
  outline: none;

  background-color: var(--white);
  border: 2px var(--black) solid;
  box-shadow:
    3px 3px 0 var(--scarlet),
    -3px -3px 0 var(--grayer);

  width: 20px;
  height: 20px;
}

form input[type=checkbox]:checked {
  background-color: var(--scarlet);
  border: 2px var(--white) solid;
  box-shadow:
    3px 3px 0 var(--black),
    -3px -3px 0 var(--black);
}

form input[type=checkbox]:hover {
  box-shadow:
    6px 6px 0 var(--grayer),
    -6px -6px 0 var(--scarlet);
}

form input[type=checkbox]:checked:hover {
  box-shadow:
    6px 6px 0 var(--grayer),
    -0px -0px 0 var(--scarlet);
}

.fade-enter-active, .fade-leave-active {
  transition: 0.3s ease;
  overflow: hidden !important;
  opacity: 1;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0 !important;

  height: 0 !important;
  min-height: 0 !important;
  max-height: 0 !important;

  gap: 0 !important;
  margin: 0 !important;
  border-width: 0 !important;
  padding: 0 !important;
}
